@using Restaurant_MVC.Models.SharedData;
@inject IDataSharingService DataSharingService;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="middleSection" class="col" style="padding-left: 500px; padding-right: 500px;">
    <div class="row-md-4">
        <form asp-action="Login" asp-controller="Home" method="post">
            
            <div class="form-group">
                <input required id="login_username" name="Username" type="text" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group">
                <input required id="login_password" name="Password" type="password" class="form-control" placeholder="Password" />
                <label style="color: red;">@DataSharingService.GetSharedData("noti_err")</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
