@model Restaurant_MVC.Models.RegistryModel

@{
    ViewData["Title"] = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col" style="padding-left: 500px; padding-right: 500px;">
    <div class="row-md-4">
        <form asp-action="Registry" asp-controller="Home" method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Name" style="color: white;" class="control-label"></label>
                <input required asp-for="Name" type="text" class="form-control" />
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" style="color: white;">
                    <input class="form-check-input" asp-for="Gender" type="checkbox" />@Html.DisplayNameFor(model => model.Gender)
                </label>
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="Address" class="control-label"></label>
                <input required asp-for="Address" type="text" class="form-control" />
                @*<span asp-validation-for="Address" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="Phone" class="control-label"></label>
                <input required asp-for="Phone" type="tel" class="form-control" />
                @*<span asp-validation-for="Phone" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="Email" class="control-label"></label>
                <input required asp-for="Email" type="email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="DateOfBirth" class="control-label"></label>
                <input required asp-for="DateOfBirth" type="text" id="book_date" name="Date" class="form-control" />
                @*<span asp-validation-for="DateOfBirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="Username" class="control-label"></label>
                <input required asp-for="Username" type="text" class="form-control" />
                @*<span asp-validation-for="Username" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label style="color: white;" asp-for="Password" class="control-label"></label>
                <input required asp-for="Password" type="password" class="form-control" />
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Registry" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
